$c-white: #efefef;
$c-light-gray: #afafaf;
$c-dark-gray: #606060;
$c-black: #202020;

$c-blue-bar: #12007b;
$c-blue-number: #0433ff;
$c-blue-operator: #001480;
$c-red-operator: #ff2100;
$c-red-initial: #800b00;
$c-gray-app: #c0c0c0;
$c-gray-bar: #808080;
